
<!DOCTYPE html>
<html>
<head>
  <title>Barbour - New Heritage</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <%- include('../partials/header') %>
  <main><%- body %></main>
  <%- include('../partials/footer') %>
</body>
</html>
